html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: #cbcb00;
    text-align: center;
    display: flex;
    flex-direction: column;
}
p.baslik1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 3rem;
    align-self: center;
    align-items: center;
}
div.menu1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;   
}
div.menu1 a {
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    font-family: monospace;
}
div.pictures {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana;
}
div.pictures img {
    width: 25rem;
    height: auto;
}
div.pictures p {
    font-size: 1.122rem;
}