html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: #cbcb00;
    text-align: center;
    display: flex;
    flex-direction: column;
}
p.baslik1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 3rem;
    align-self: center;
    align-items: center;
}
div.menu1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;   
}
div.menu1 a {
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    font-family: monospace;
}
p.info1 {
    font-size: 1.5rem;
    font-family: Impact;
    color: #a30000;
}
div.icerik1 {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
div.icerik1 a {
    text-decoration: none;
    color: #000000;
    font-family: 'Franklin Gothic Medium';
    font-size: 2rem;
}